body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bold;
}

hr {
  color: #EAF6F6;
  size: 50px;
  border-style: dotted none none;
  width: 3%;
  border-width: 5px;
  margin: auto;
}

a {
  color: #11999E;
  margin: 10px 20px;
}

a:hover {
  color: white;
}

p {
  line-height: 2;
}

.butn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -moz-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -ms-linear-gradient(top, #66BFBF, #2980b9);
  background-image: -o-linear-gradient(top, #66BFBF, #2980b9);
  background-image: linear-gradient(to bottom, #66BFBF, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 100px auto;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  padding: 10px;
  font-size: 0.75rem;
}

.contact-me {
  width: 30%;
  margin: 10px auto 40px;
}

.footer-link {
  color: #11999E;
  text-decoration: none;
}

.imgOfLo {
  border-radius: 50%;
  margin-top: 100px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 10px 0;
  padding-bottom: 100px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 600px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
}

.profile {
  width: 30%;
  margin: auto;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.truckDriver {
  width: 15%;
  background-color: #99badd;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.webDesign {
  width: 15%;
  background-color: #99badd;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
